* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

$color: #8cb63c;

#app {
  width: 100%;
  height: 100%;
}

.toolbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: $color;
}

.logo {
  background: url('/public/images/logo.png') no-repeat;
  background-size: 100%;
  width: 100px;
  height: 50px;
  float: left;
  display: block;

  .logo-text {
    display: none;
  }
}

.social-list {
  float: right;
  margin: 10px 25px 0 0;

  .social-item {
    display: block;
    float: left;
    margin-left: 5px;
  }
}

.icon-facebook {
  background: url('/public/images/icon-facebook.svg') no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  display: block;
}

.icon-github {
  background: url('/public/images/icon-github.svg') no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  display: block;
}
